<div class="container-fluid">
<div class="row">
<div class="col-md-3">
<h1>User info</h1>
 <h5>Name</h5>
 <h5>Image</h5>

 
        <% if @user.errors.any? %>
            <div id="error_explanation">
              <h2><%= @user.errors.count %>件のエラーが発生しました。</h2>
              <ul>
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
            <% end %>
        <%= form_for(@user) do |f| %>
     <div class="form-group has-icon">
        <label class="control-label sr-only" for="inputEmail">Name</label>
        <%= f.text_field :name, autofocus: true, class:"form-control", id:"inputEmail", placeholder:"Name"%>
        <span class="fa fa-user form-control-icon" aria-hidden="true"></span>
     </div>
     <div class="form-group has-icon">
    <div class="user-edit-image">
        <%= f.text_area :introduction %>
     </div>
        <label class="control-label sr-only" for="inputEmail">Image</label>
        <%= f.attachment_field :profile_image, placeholder: "Image", class: "user-edit-form" %>
     </div>
        <%= f.submit "Update User" %>
<% end %>
